################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewsProject/.vs/NewsProject/FileContentIndex/0d3093d1-06f5-48df-a4af-b5750d167483.vsidx
/NewsProject/NewsProject/Client/bin/Debug/net6.0/wwwroot/_framework/dotnet.6.0.33.t0exn1hetr.js
/NewsProject/NewsProject/Client/bin/Debug/net6.0/wwwroot/_framework/dotnet.6.0.33.t0exn1hetr.js.gz
/NewsProject/NewsProject/Client/Components/HomeComponent.razor.cs
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/08y55kboxz.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/0dop2ev2a9.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/0w912ccfri.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/118o9xr0xo.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/154jkpcvnd.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/17wvw082ku.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/1beu26e823.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/2ddbrli2qs.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/35alvrgbp1.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/3pogosu3w7.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/3rd57jvjx2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/3yils7b2l2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/44xrnirn0g.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/4ee9hl0l9n.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/4hu11j61zr.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/4ny1lpyhuq.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/4rkkmn78ox.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/58uet3of8f.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/5dll8ezs5y.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/673c4z9ru2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/679urcf610.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/67pmeecja4.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/68jchsor4m.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/6e9093huz4.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/6g857hbj2t.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/6megygyhrr.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/6pqwr1zcij.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/6q4dnbnwf4.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/7ayx31f2bb.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/7dhjlxdh90.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/7do5i03coy.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/7r33cdofc2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/7yxcmvr64v.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8912vd7iyp.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8i1e7m72y0.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8i21hlbxov.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8iugue39hy.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8nrtviya5q.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8toeaft871.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8uy9blqqde.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8v8fkmuyn8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8vzx55p06a.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/8w590ykfvh.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/921qrw9ut0.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/95ndk5i17e.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/9ndzgoodwx.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/9nsb4yr40h.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/9rs1nwrt1o.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/a03th4hlw2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/a78a8wedlu.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/aasg7q5hl4.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/adv7operl1.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/b1dzo6jxg9.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/b6dspzyh8g.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/bci0vgwlyt.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/bd5drhqdy7.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/be24oonlrr.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/bmkpjk9zf8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/bw2k0jc0v8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/c81m3c3iuz.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/cacxwpma9z.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/cujxbtl42e.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/cuz4p3p6uh.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/d1nijjxpv7.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/dj37jea90z.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/djyuuonqiu.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/e3o2aq6xhh.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/e6wt1aubgj.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ed5920nh96.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/eexobh02w9.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ei82lc2me4.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/enhh812lkd.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/eq2hijwaca.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/eswe4mjn9i.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ev004i6gi1.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/evpjsaylmx.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/f3s905uy0a.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/f90ci6vy49.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/f9uyr864iu.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/fl81wu5vlq.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/fs7i5hlkit.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/gxjezk93tc.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/gy1i8kthue.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/gzrke0hcra.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/h5beyxlo4f.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/hhvym6jde5.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ho391yt7f0.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/hpx8l43bnm.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/hq391hjpmz.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/hscybwi78v.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/hsmsx7nysq.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/i8ebvn3o23.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/i8uttbpr67.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ijwn10nhd8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/irld9pmivz.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ishe5nocjb.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/jf9d0ajc0q.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/jn9335wszd.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/jqfa9fl6lf.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/k16v5f5eui.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/k395lmpkak.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/kdflzu517e.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ktcrz65qox.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/m0m7wpxse8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/m8pzeus4bs.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/mga43xz6h4.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/mssp36ckzk.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/mstr84bqr0.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/mv8jqy7bj9.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ngxjbehzeo.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/nxqogt456b.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/o2j0mqkcqh.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/oceqjsvvak.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/oe8qh4q3x2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/oii3z9wxa9.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/oy6gs4kkdf.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/pq1mull7pv.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/pryv0605t2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/pvl4vv68jc.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/q02h3julw2.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/q6ihginef8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/q9cbrxzwxq.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/qepeivjdte.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/qioanak4bf.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/qkm7vpv18q.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/qsgw0qeurm.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/qz4w65k7f5.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/qzwt8hivsh.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/rdw1z3u1ds.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/rhkytgkor9.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/rve866q7pi.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/s3v3amynnl.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/s9vn8eeg7e.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/srntwoekuk.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/t0exn1hetr.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ta9lgt2pfj.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/tgbzd41twi.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/tmcgt0pzhy.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/tsx6gnjz21.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/tuxfuvvog5.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/u0p56glawk.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/uafkp9eac7.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/uee42xhq6p.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ufdfahemvy.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ux78fzx7o5.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/uy3cozv1cd.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/v3u2yiimg8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/v4dq8r7fhv.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/vp2nzo30b3.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/vwdtyc6006.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/w7s2vjwuxj.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/weud9fjriu.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/wfix0gyvd4.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/wm7sl6urw8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/wpb2zm8wcd.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ww5nsj6iyx.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/x227qbyu31.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/xavcw1sd4q.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/xbl391a8f0.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/xucbg0vzlx.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/y1e84lrryd.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/y5uew123s9.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/y7d7lcswn3.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ya9x52helm.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/yfun7hfqeu.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ymq3z4lst7.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/ysihbvq7l5.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/yy4rc56t2q.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/z7r30aatkg.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/zec7w10bm8.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/zkuwcnqchs.gz
/NewsProject/NewsProject/Client/obj/Debug/net6.0/compressed/zm8gdnl7nm.gz
/NewsProject/NewsProject/Client/Pages/Index.razor.cs
/NewsProject/NewsProject/Client/wwwroot/Imgs/7oda.jpg
/NewsProject/NewsProject/Server/Migrations/20240825080014_t33.cs
/NewsProject/NewsProject/Server/Migrations/20240825080014_t33.Designer.cs
/NewsProject/NewsProject/Server/Migrations/20240825081633_t37.cs
/NewsProject/NewsProject/Server/Migrations/20240825081633_t37.Designer.cs
/NewsProject/NewsProject/Server/Migrations/20240825081757_t40.cs
/NewsProject/NewsProject/Server/Migrations/20240825081757_t40.Designer.cs
/NewsProject/NewsProject/Server/Migrations/20240825094302_t45.cs
/NewsProject/NewsProject/Server/Migrations/20240825094302_t45.Designer.cs
/NewsProject/NewsProject/Server/Migrations/20240825094343_t48.cs
/NewsProject/NewsProject/Server/Migrations/20240825094343_t48.Designer.cs
/NewsProject/NewsProject/Server/Migrations/20240825094431_t50.cs
/NewsProject/NewsProject/Server/Migrations/20240825094431_t50.Designer.cs
/NewsProject/NewsProject/Server/Migrations/20240825105600_branch1.cs
/NewsProject/NewsProject/Server/Migrations/20240825105600_branch1.Designer.cs
/NewsProject/NewsProject/Shared/Models/branch1Model.cs
/NewsProject/NewsProject/Shared/Models/branch2222.cs
/NewsProject/NewsProject/Shared/Models/oda.cs
/NewsProject/NewsProject/Shared/Models/trial.cs
